*::selection {
    color: darkgreen;
    background-color: darkseagreen;
}

video.background {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.leftcolbackground {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
}

.centercolbackground {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    width: 100%;
}

.containerfoto img {
    
    filter: grayscale();
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.30);
    box-shadow: 11px 11px 18px #000000c4, -11px -11px 18px #342f2dc6;
    transition: filter 0.5s ease-in-out;
    display: flex;
    justify-content: center;
}

.containerfoto:hover img {
    filter: none;
    transform: scale3d(230px);
}

.txt {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: justify;
    border-radius: 2em;
    color: white;

}

.txtcenter {
    font-family: "Homer Simpson UI";
    font-size: 18px;
    background: linear-gradient(340deg, rgba(0,0,0,1) 6%, rgba(26,15,17,1) 100%, rgba(34,20,23,1) 100%, rgba(49,29,17,1) 100%, rgba(59,35,13,1) 100%, rgba(79,48,4,1) 100%, rgba(118,94,60,1) 100%, rgba(132,111,80,1) 100%, rgba(143,124,96,1) 100%, rgba(159,142,118,1) 100%, rgba(194,183,168,1) 100%, rgba(255,255,255,1) 100%, rgba(0,0,0,1) 100%);
    box-shadow: 11px 11px 18px #000000c4, -11px -11px 18px #282423c6;
    text-align: justify;
    border-radius: 2em;
    color: white;

}

.separador {
    font-family: "Homer Simpson UI";
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 1em;
    color: white;
    letter-spacing: 5px;
}

.reflected {
    display: inline-block;
    padding: 0 10px;
}


.reflected>* {
    color: #ffffff;
}

.reflected> :last-child {
    transform:
        rotateX(180deg) translateY(18px);
    mask-image:
        linear-gradient(transparent 20%,
            white 20%);
    -webkit-mask-image:
        linear-gradient(transparent 60%,
            white 90%);
    opacity: 0. 72;
}

.separadorleftcolcenter {
    font-family: "Homer Simpson UI";
    color: white;
    letter-spacing: 5px;
}

.separadorleftcol {
    font-family: "Homer Simpson UI";
    padding-left: 2em;
    padding-top: 2em;
    color: white;
    letter-spacing: 5px;
}

.iam {
    position: relative;
    color: white;
}

.rotate-words {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 4em;
}

.rotate-words h6 {
    width: max-content;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
    opacity: 0;
    transform-origin: 10% 90%;
    animation: rotateWords 15s var(--d) ease-in-out infinite;
}

@keyframes rotateWords {
    5% {
        opacity: 1;
    }

    10%,
    20% {
        opacity: 1;
        transform: rotate(1deg);
    }

    15% {
        transform: rotate(-1deg);
    }

    25% {
        opacity: 0;
        transform: translateY(30px) rotate(2deg);
    }
}

.no-seleccionable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.mt-60 {
    margin-top: 60px;
}

.space-invader {
    /* Modify size here: */
    --block-size: 5px;
  
    box-shadow: 0 0 0 var(--block-size) #333,
    0 var(--block-size) 0 var(--block-size) #333,
    calc(var(--block-size) * -2.5) calc(var(--block-size) * 1.5) 0 calc(var(--block-size) * .5) #333,
    calc(var(--block-size) * 2.5) calc(var(--block-size) * 1.5) 0 calc(var(--block-size) * .5) #333,
    calc(var(--block-size) * -3) calc(var(--block-size) * -3) 0 0 #333,
    calc(var(--block-size) * 3) calc(var(--block-size) * -3) 0 0 #333,
    calc(var(--block-size) * -2) calc(var(--block-size) * -2) 0 0 #333,
    calc(var(--block-size) * 2) calc(var(--block-size) * -2) 0 0 #333,
    calc(var(--block-size) * -3) calc(var(--block-size) * -1) 0 0 #333,
    calc(var(--block-size) * -2) calc(var(--block-size) * -1) 0 0 #333,
    calc(var(--block-size) * 2) calc(var(--block-size) * -1) 0 0 #333,
    calc(var(--block-size) * 3) calc(var(--block-size) * -1) 0 0 #333,
    calc(var(--block-size) * -4) 0 0 0 #333,
    calc(var(--block-size) * -3) 0 0 0 #333,
    calc(var(--block-size) * 3) 0 0 0 #333,
    calc(var(--block-size) * 4) 0 0 0 #333,
    calc(var(--block-size) * -5) var(--block-size) 0 0 #333,
    calc(var(--block-size) * -4) var(--block-size) 0 0 #333,
    calc(var(--block-size) * 4) var(--block-size) 0 0 #333,
    calc(var(--block-size) * 5) var(--block-size) 0 0 #333,
    calc(var(--block-size) * -5) calc(var(--block-size) * 2) 0 0 #333,
    calc(var(--block-size) * 5) calc(var(--block-size) * 2) 0 0 #333,
    calc(var(--block-size) * -5) calc(var(--block-size) * 3) 0 0 #333,
    calc(var(--block-size) * -3) calc(var(--block-size) * 3) 0 0 #333,
    calc(var(--block-size) * 3) calc(var(--block-size) * 3) 0 0 #333,
    calc(var(--block-size) * 5) calc(var(--block-size) * 3) 0 0 #333,
    calc(var(--block-size) * -2) calc(var(--block-size) * 4) 0 0 #333,
    calc(var(--block-size) * -1) calc(var(--block-size) * 4) 0 0 #333,
    var(--block-size) calc(var(--block-size) * 4) 0 0 #333,
    calc(var(--block-size) * 2) calc(var(--block-size) * 4) 0 0 #333;
    background: #333;
    width: var(--block-size);
    height: var(--block-size);
    overflow: hidden;
  }