.miDiv {
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.8s ease;
}

.miDiv.ampliado {
    height: auto;
    z-index: 1;
}

.texto-oculto {
    display: none;
}

.texto-oculto.mostrado {
    display: block;
    color: white;
}

/* Estilo por defecto */
.custom-div {
    transition: transform 0.3s ease;
}

/* Estilos al hacer hover */
.custom-div:hover {
    transform: scale(1.05);
}

.lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Alineamos la línea de tiempo al centro en todas las pantallas */
    list-style: none;
    padding-left: 0;
    font-family: "Homer Simpson UI";
    /* Eliminar el espacio en blanco izquierdo */
}

.listaol {
    list-style: none;
    counter-reset: my-counter;
    margin: 0rem;
    padding: 0rem 0rem 0rem 0rem;
    /* Agrega un ancho para la línea de tiempo */
}

/* Estilo de los números de la línea de tiempo */
.listali {
    counter-increment: my-counter;
    border-left: solid 2px #cdcdcd;
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: "icon text";
    align-items: start;
    position: relative;
    left: 1.5rem;
    /* Alinea los elementos de la línea de tiempo con los cards en pantallas grandes */
}

.listali:before {
    content: counter(my-counter);
    font-weight: bold;
    background-color: #000000;
    border: 3px solid #f5f6f1;
    border-radius: 50px;
    font-size: 20px;
    padding: 0.8rem 1.4rem;
    color: #fff;
    margin-left: -2.0rem;
    margin-right: auto;
    grid-area: icon;
}

/* Estilo de los cards */
.cardo {
    grid-area: text;
    width: 550px;
    border-radius: 2em;
    margin-top: 0.5rem;
    margin-left: 4rem;
    background: linear-gradient(340deg, rgba(0, 0, 0, 1) 6%, rgba(26, 15, 17, 1) 100%, rgba(34, 20, 23, 1) 100%, rgba(49, 29, 17, 1) 100%, rgba(59, 35, 13, 1) 100%, rgba(79, 48, 4, 1) 100%, rgba(118, 94, 60, 1) 100%, rgba(132, 111, 80, 1) 100%, rgba(143, 124, 96, 1) 100%, rgba(159, 142, 118, 1) 100%, rgba(194, 183, 168, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(0, 0, 0, 1) 100%);
    box-shadow: 11px 11px 18px #000000c4, -11px -11px 18px #282423c6;
}

/* Estilo del encabezado de los cards */
.cardo .cardo-header {
    background-color: #000000;
    color: #fff;
    border-radius: 2em;
    font-size: 20px;
    border: 2px solid #f5f6f110;
}

@media (max-width: 451px) {

    .listali {
        justify-content: center;
        /* Centra los elementos de la línea de tiempo en pantallas pequeñas */
        text-align: center;
        /* Centra el texto en los elementos de la línea de tiempo en pantallas pequeñas */
        left: 0;
        /* Elimina el desplazamiento a la izquierda en pantallas pequeñas */
        display: list-item;
        border: 0;
    }

    .listali:before {
        margin-left: auto;
        /* Centra el número en pantallas pequeñas */
    }

    .cardo {
        margin-left: 0;
        /* Elimina el margen en pantallas pequeñas */
    }

    .timeline {
        position: relative;
    }

    .timeline:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 100%;
        background-color: #fff
    }
}

/* Agrega margen entre la línea de tiempo y los cards en pantallas grandes */
@media (min-width: 451px) {
    .lista {
        margin-right: 2rem;
        /* Agrega margen a la derecha de la línea de tiempo en pantallas grandes */
    }
}