.cardform {
    position: relative;
    min-height: 320px;
    width: auto;
    color: white;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
    box-shadow:  11px 11px 18px #000000c4, -11px -11px 18px #282423c6;
}

/* Card 1 */
.cardform.card1 {
    background: url(../files/gmasir.jpeg) center/cover no-repeat;
    filter: grayscale();
    transition: filter 0.5s ease-in-out;
}

/* Card 2 */
.cardform.card2 {
    background: url(../files/gsdaw.jpeg) center/cover no-repeat;
    filter: grayscale();
    transition: filter 0.5s ease-in-out;
}

/* Card 3 */
.cardform.card3 {
    background: url(../files/gsdam.jpeg) center/cover no-repeat;
    filter: grayscale();
    transition: filter 0.5s ease-in-out;
}

.cardform.card1:hover,.cardform.card2:hover,.cardform.card3:hover {
    filter: none;
    transform: scale3d(230px);
}

.card__content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: linear-gradient(0deg, rgba(10, 5, 0, 0.98) 1%, rgba(20, 10, 0, 0.9) 28%, rgba(15, 5, 0, 0.8) 100%);
    border-top-left-radius: 20px;
    transform: translateY(70px);
    transition: transform .25s;
}

.card__content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
}

.card__title {
    font-family: "Homer Simpson UI";
    height: 60px;
    color: white;

}

.card__subtitle {
    padding-top: 10px;
    font-family: "Homer Simpson UI";
    font-style: oblique;
    display: block;
    font-size: 16px;
    margin-bottom: 30px;
    height: 90px;

}

.card__description {
    font-family: "Homer Simpson UI";
    font-size: 14px;
    opacity: 0;
    margin-bottom: 10px;
}

.cardform:hover .card__content {
    transform: translateY(0);
}

.cardform:hover .card__description {
    opacity: 1;
    transition-delay: .25s;
}