.namebackground {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 40%, rgba(24, 14, 8, 0.75) 70%, rgba(37, 28, 19, 0.0) 95%);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    padding-bottom: 3.5em;
}

div.name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column; /* Para alinear verticalmente en dispositivos móviles */
}

/* Estilos para el texto dentro de .name */
.name p {
    font-size: 55px;
    font-family: "Homer Simpson UI";
    white-space: normal;
}

.name div {
    background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 10vw;
    font-family: "Source Sans Pro", sans-serif;
    -webkit-animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
    animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
}

/* Estilos para el título dentro de .name */
.name h5 {
    font-family: "Homer Simpson UI";
    white-space: normal;
}

.containertypingdemo {
    display: flex;
    justify-content: center;
    color: #fff;
}

.typing-demo {
    width: 240px;
    animation: typing 3s steps(15) infinite alternate, blink 0.35s step-end infinite alternate, glow 3000ms linear infinite 2500ms;
    white-space: nowrap;
    font-family: "Homer Simpson UI";
    letter-spacing: 5px;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 18px;
}

@keyframes typing {
    0% {
        /* Estilos del primer frame (inicio de la animación) */
        width: 0;
    }

    100% {
        /* Estilos del último frame (final de la animación) */
        width: 250px;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
        padding-bottom: 0;
    }
}

@-webkit-keyframes reveal {
    80% {
        letter-spacing: 10px;
    }

    100% {
        background-size: 300% 300%;
    }
}

@keyframes reveal {
    80% {
        letter-spacing: 10px;
    }

    100% {
        background-size: 300% 300%;
    }
}

@-webkit-keyframes glow {
    40% {
        text-shadow: 0 0 8px #fff;
    }
}

@keyframes glow {
    40% {
        text-shadow: 0 0 8px #fff;
    }
}

@media (max-width: 420px) {
    .name p {
        font-size: 13vw;
    }

    .typing-demo{
        font-size: 3vw;
        letter-spacing: 3px;

    }
    

    @-webkit-keyframes reveal {
        80% {
            letter-spacing: 2px;
        }

        100% {
            background-size: 300% 300%;
        }
    }

    @keyframes reveal {
        80% {
            letter-spacing: 2px;
        }

        100% {
            background-size: 300% 300%;
        }
    }
}